- @title_for_layout = "Messages"
- @body_id = "messages_listing"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

#stage
  .embossed_box
    = render :partial => "shared/messages_list", :locals => {:show_profile_link => true}
        
  = will_paginate @messages