- @title_for_layout = "Messages"
- @body_id = "messages"

= render :partial => "shared/header"

%h1= @title_for_layout

#stage
  .box
    = render :partial => "shared/messages_list"
        
  = will_paginate @messages