- @title_for_layout = "Videos"
- @body_id = "videos"
- @body_class = "videos"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

#stage
  #left
  
  #right
    = link_to "Add new videos", new_video_path, :class => :action_button
  
  .clearfloat