%footer#footer
  #footer_content.clearfix
    = image_tag "dom_logo_small.png", :id => :footer_logo
    #copyright_statement
      %p
        &copy; 2011 Dating over Meal. All rights reserved.
        %br
        Dating over Meal is open-sourced on Github and welcomes all forks and pull requests
    #social_presence
      = image_tag "twitter.png"
      = image_tag "facebook.png"
