- @title_for_layout = "Create album"
- @body_id = "new_album"
- @body_class = "albums"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

#stage
  #left
  
  #right
  
  .clearfloat