- @title_for_layout = "#{@album.title}"
- @body_id = "my_albums"
- @body_class = "albums"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

#stage
  #left
  #right
  
  .clearfloat