- @title_for_layout = "#{@album.title}"
- @body_id = "my_albums"
- @body_class = "albums"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

#stage
  #left
  #right
    .box
      %h2.header Photos
      .content
        .embossed_box
          - if @images.length > 0
            %ul.photos_listing.clearfix
              - @images.each do |image|
                %li
                  %a{:href => image.picture.url, :class => :fancybox}= image_tag image.picture.url(:thumb)
          - else
  
  .clearfloat