@font-face {
  font-family: CrimsonRoman;
  src: url("EspinosaNova-Regular.otf"); }

* {
  margin: 0;
  padding: 0; }

header, footer {
  display: block; }

body {
  font-family: arial;
  font-size: 12px;
  color: #444;
  background: white url(/assets/body_bg.jpg) repeat-x; }

a {
  text-decoration: none;
  outline-style: none;
  color: #ea0a89;
  cursor: pointer; }

ul {
  list-style: none; }

pre {
  font-size: 12px;
  font-family: arial; }

#collage {
  width: 100%;
  height: 400px;
  background: url(/assets/collage.jpg) repeat; }

header {
  margin: 20px 0; }
  header #login {
    background: #111;
    padding: 5px 8px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 20px;
    text-transform: uppercase;
    border-radius: 0 0 4px 4px; }

h1 {
  margin-bottom: 20px; }

.page_header {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 1px 1px #fff; }

textarea {
  height: 50px; }

.devise_form {
  background: #fff;
  border: 1px solid #999999;
  border-radius: 5px;
  box-shadow: 0 3px 10px #333;
  margin: 90px auto 50px;
  padding: 30px;
  width: 540px; }
  .devise_form .textbox {
    width: 522px;
    color: #888;
    padding: 9px; }

.form_row {
  margin: 15px 0; }
  .form_row label {
    display: block;
    margin-bottom: 10px; }

.textbox {
  border-color: #c2c2c2;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px #d9d9d9 inset;
  color: #242424;
  font-size: 14px;
  padding: 6px;
  font-family: arial; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.button {
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .4em 1.4em .4em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 14px;
  color: #fff; }
  .button:hover {
    text-decoration: none; }
  .button:active {
    position: relative;
    top: 1px; }

.action_button {
  background: #f67b0e;
  display: inline-block;
  padding: 7px 15px;
  border: 1px solid #f67b0e;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0 0 10px 0;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }
  .action_button:hover {
    background-color: #0a90d5;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }
  .action_button:active {
    position: relative;
    top: 1px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2); }

.remorse_button {
  background: #d50000;
  display: inline-block;
  padding: 7px 15px;
  border: 1px solid #f67b0e;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0 0 10px 0;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }
  .remorse_button:hover {
    background-color: #0a90d5;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }
  .remorse_button:active {
    position: relative;
    top: 1px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2); }

/* color styles 
---------------------------------------------- */
/* black */
.black {
  color: #d7d7d7;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(black));
  background: -moz-linear-gradient(top, #666666, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000'); }

.black:hover {
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
  background: -moz-linear-gradient(top, #444444, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000'); }

.black:active {
  color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#444444));
  background: -moz-linear-gradient(top, black, #444444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666'); }

/* gray */
.gray {
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#575757));
  background: -moz-linear-gradient(top, #888888, #575757);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757'); }

.gray:hover {
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
  background: -moz-linear-gradient(top, #757575, #4b4b4b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b'); }

.gray:active {
  color: #afafaf;
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888888));
  background: -moz-linear-gradient(top, #575757, #888888);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888'); }

/* white */
.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background: -moz-linear-gradient(top, white, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }

.white:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dcdcdc));
  background: -moz-linear-gradient(top, white, #dcdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc'); }

.white:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
  background: -moz-linear-gradient(top, #ededed, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff'); }

/* orange */
.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); }

.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015'); }

.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a'); }

/* red */
.red {
  color: #faddde;
  border: solid 1px #980c10;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(top, #ed1c24, #aa1317);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317'); }

.red:hover {
  background: #b61318;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
  background: -moz-linear-gradient(top, #c9151b, #a11115);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); }

.red:active {
  color: #de898c;
  background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
  background: -moz-linear-gradient(top, #aa1317, #ed1c24);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24'); }

/* blue */
.blue {
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5'); }

.blue:hover {
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top, #0095cc, #00678e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e'); }

.blue:active {
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top, #0078a5, #00adee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee'); }

/* rosy */
.rosy {
  color: #fae7e9;
  border: solid 1px #b73948;
  background: #da5867;
  background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
  background: -moz-linear-gradient(top, #f16c7c, #bf404f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f'); }

.rosy:hover {
  background: #ba4b58;
  background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
  background: -moz-linear-gradient(top, #cf5d6a, #a53845);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845'); }

.rosy:active {
  color: #dca4ab;
  background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
  background: -moz-linear-gradient(top, #bf404f, #f16c7c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c'); }

/* green */
.green {
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e'); }

.green:hover {
  background: #538018;
  background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
  background: -moz-linear-gradient(top, #6b9d28, #436b0c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c'); }

.green:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
  background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f'); }

/* pink */
.pink {
  color: #feeef5;
  border: solid 1px #d2729e;
  background: #f895c2;
  background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
  background: -moz-linear-gradient(top, #feb1d3, #f171ab);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab'); }

.pink:hover {
  background: #d57ea5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
  background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4'); }

.pink:active {
  color: #f3c3d9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
  background: -moz-linear-gradient(top, #f171ab, #feb1d3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3'); }

.clearfloat {
  clear: both; }

.box {
  background: #EBEBEB;
  border-radius: 6px;
  box-shadow: 0 2px 3px 2px #ddd inset;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background: -moz-linear-gradient(top, white, #ededed); }
  .box .header {
    padding: 8px 20px;
    font-size: 17px;
    border-radius: 6px 6px 0 0;
    color: #fff;
    box-shadow: 0 1px 0 0 #e4fdbd inset;
    text-shadow: 0 1px 2px #333;
    border: 1px solid #777;
    background: #bfd255;
    /* Old browsers */
    background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 46%, #72aa00 100%, #9ecb2d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfd255), color-stop(46%, #8eb92a), color-stop(100%, #72aa00), color-stop(100%, #9ecb2d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 46%, #72aa00 100%, #9ecb2d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bfd255 0%, #8eb92a 46%, #72aa00 100%, #9ecb2d 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bfd255 0%, #8eb92a 46%, #72aa00 100%, #9ecb2d 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #bfd255 0%, #8eb92a 46%, #72aa00 100%, #9ecb2d 100%);
    /* W3C */ }
  .box p {
    line-height: 17px; }
  .box .content {
    padding: 20px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 0 0 6px 6px; }

.embossed_box {
  background: #fff;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 #ccc;
  padding: 20px; }

div.alert-message {
  background: #fff;
  padding: 16px;
  color: #51a519;
  margin: 20px auto;
  width: 968px;
  box-shadow: 0 2px 4px 0 #ccc;
  border-radius: 7px;
  font-size: 18px;
  height: 24px; }
  div.alert-message .errorExplanation ul li {
    color: #d10000;
    background: url(/assets/error_24.png) no-repeat left center;
    text-indent: 34px; }
  div.alert-message .success {
    background: url(/assets/check_24.gif) no-repeat left center;
    text-indent: 34px; }

.profile_photo {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 13px;
  background: #fff;
  padding: 4px;
  box-shadow: 0 1px 4px 1px #999;
  border-radius: 4px; }

.messages_list {
  margin-bottom: 10px; }
  .messages_list li {
    padding: 15px; }
  .messages_list .delete {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url(/assets/trash_16.png);
    text-indent: -9999px; }
  .messages_list .preview {
    display: block;
    margin: 5px 0;
    color: #444; }
  .messages_list .snap {
    float: left;
    width: 500px; }

#home #cta {
  padding: 80px 0 0; }
  #home #cta #signup, #home #cta #take_a_tour {
    width: 188px;
    display: block;
    margin: 20px auto 40px; }

#random_places {
  width: 1000px;
  margin: 20px auto 30px; }
  #random_places h2 {
    margin: 30px 0 20px;
    text-align: center; }

#footer {
  padding: 20px 0;
  margin: 100px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#d6d6d6));
  background: -moz-linear-gradient(top, #f2f2f2, #d6d6d6);
  border-top: 1px solid #bababa; }
  #footer #footer_content {
    width: 1000px;
    margin: 0 auto; }
  #footer #footer_logo {
    float: left;
    margin-right: 12px;
    clear: both; }
  #footer #copyright_statement {
    float: left; }
    #footer #copyright_statement p {
      margin: 4px 0; }
  #footer #social_presence {
    float: right; }

#signup_form, #login_form, #forgot_password_form {
  background: url(/assets/collage_bw.jpg) repeat; }

#home header {
  text-align: center; }

#content {
  margin: 0 auto; }

#home .places_list li {
  margin: 0 15px; }
#home .places_list .place {
  width: 70px;
  height: 70px; }

.last {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important; }

#auth_header {
  margin: 0 0 40px;
  background: #ffe75f url(/assets/header_bg.jpg) repeat-x left bottom;
  border-bottom: 1px solid #aa8800;
  overflow: hidden;
  height: 62px; }
  #auth_header #middle_section {
    width: 1000px;
    margin: 0 auto; }
    #auth_header #middle_section #nav {
      float: right; }
      #auth_header #middle_section #nav ul li {
        float: left;
        list-style: none;
        text-align: center;
        margin-left: 15px; }
        #auth_header #middle_section #nav ul li a {
          text-transform: uppercase;
          color: #fff;
          text-shadow: 0 1px 1px #666;
          font-weight: bold;
          display: block;
          padding: 8px; }
          #auth_header #middle_section #nav ul li a span {
            margin-top: 4px;
            display: block; }
          #auth_header #middle_section #nav ul li a img {
            height: 24px;
            max-width: 24px; }
      #auth_header #middle_section #nav ul li.current {
        background: #ffe57f url(/assets/shine.png) no-repeat bottom center;
        border-left: 1px solid #e1b507;
        border-right: 1px solid #e1b507; }
        #auth_header #middle_section #nav ul li.current a {
          border-left: 1px solid #fbffd3;
          border-right: 1px solid #fbffd3; }
      #auth_header #middle_section #nav #nav_profile_photo {
        width: 22px;
        height: 22px;
        background: #fff;
        padding: 1px;
        box-shadow: 0 1px 3px 0 #666; }
  #auth_header #logo {
    float: left;
    height: 47px;
    margin-top: 8px; }

#stage {
  width: 998px;
  border-radius: 7px;
  background: #ededed;
  border: 1px solid #ccc;
  margin: 40px auto;
  overflow: hidden;
  box-shadow: 0 1px 4px #ccc; }
  #stage #left {
    float: left;
    width: 250px;
    padding: 20px; }
    #stage #left #picture_wrapper {
      background: #fff;
      padding: 15px;
      box-shadow: 0 1px 7px 3px #ccc;
      border-radius: 6px;
      margin-bottom: 20px; }
      #stage #left #picture_wrapper #frame {
        box-shadow: 0 1px 4px #ccc;
        background: #fff;
        padding: 2px 2px 0;
        border: 1px solid #aaa; }
        #stage #left #picture_wrapper #frame img {
          width: 100%; }
      #stage #left #picture_wrapper .button {
        border-radius: 0 0 4px 4px;
        border-top: 0 none;
        display: block; }
  #stage #right {
    float: left;
    width: 667px;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #ccc;
    box-shadow: 0 7px 7px 5px #d6d6d6;
    border-radius: 7px 0 0 7px; }

#thoughts .embossed_box {
  padding: 10px;
  margin: 0; }

#thoughts_box {
  width: 590px;
  height: 19px; }

#profile_top_wash h1 {
  margin-bottom: 6px; }

#profile_header_right {
  float: right; }
  #profile_header_right .button {
    padding: 1px 4px;
    font-size: 10px; }

.zigzag_form label {
  font-weight: bold;
  width: 132px;
  margin: 8px 16px 0 0;
  float: left;
  text-align: right; }
.zigzag_form .textbox {
  width: 442px; }
.zigzag_form textarea {
  height: 90px; }
.zigzag_form select {
  padding: 6px;
  border: 1px solid #aaa;
  width: 455px; }
.zigzag_form .button_container {
  text-align: center; }

#profile_birth_month, #profile_birth_year, #profile_birth_day {
  width: 100px !important; }

.profile_details li {
  margin-bottom: 10px;
  padding: 0 0 10px;
  border-bottom: 1px dotted #bbb; }

#profile_social_networks img {
  margin-right: 10px; }

.profile_illustration {
  float: left;
  margin-right: 8px; }

.social_option {
  display: block;
  margin: 10px auto 0; }

.pop_dialog {
  background: #fff;
  width: 460px;
  border-radius: 5px;
  position: fixed;
  top: 160px;
  left: 50%;
  margin-left: -230px;
  box-shadow: 0 4px 8px 2px #555;
  z-index: 100; }
  .pop_dialog .header {
    border-radius: 4px 4px 0 0;
    background: -moz-linear-gradient(center top, #f12891, #c00d6a) repeat scroll 0 0 transparent;
    color: #fff;
    padding: 7px 15px;
    box-shadow: 0 1px 1px #FCBEDE inset; }
  .pop_dialog .content {
    padding: 0 20px 20px; }
    .pop_dialog .content .form_row {
      overflow: hidden; }
    .pop_dialog .content label {
      font-weight: bold;
      float: left;
      margin-right: 15px;
      margin-top: 6px;
      width: 50px; }
    .pop_dialog .content .textbox {
      width: 339px; }
    .pop_dialog .content .button_container {
      text-align: right; }

#share_thought {
  margin-top: 10px; }

#overlay {
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 90; }

#message_content {
  width: 819px; }

#profile #message_content {
  width: 405px; }

#messages .messages_list .content {
  width: 730px; }

.selection_list {
  overflow: hidden; }
  .selection_list li {
    float: left;
    width: 200px;
    margin-bottom: 12px; }
  .selection_list label {
    display: inline-block;
    margin-left: 4px;
    margin-right: 20px;
    margin-bottom: 0; }

#place_pricings label {
  margin-right: 15px; }

.places_list {
  margin: 0 0 15px; }
  .places_list li {
    float: left;
    margin-right: 19px; }
    .places_list li .place {
      display: block;
      width: 50px;
      height: 50px;
      background: #fff;
      padding: 4px;
      box-shadow: 0 1px 4px 1px #aaa;
      border-radius: 4px; }
      .places_list li .place img {
        width: 100%;
        height: 100%; }
  .places_list .button {
    border-radius: 20px;
    padding: 3px 11px;
    font-size: 11px; }

#place_social_share {
  float: right;
  width: 400px; }
  #place_social_share .twshare {
    float: right;
    margin-left: 5px; }
  #place_social_share .fshare {
    float: right;
    width: 51px;
    margin-left: 5px;
    overflow: hidden; }

#place_images_list li {
  float: left;
  width: 260px;
  margin: 4px 0; }

#place_general_info li {
  margin: 4px 0;
  word-wrap: break-word; }

#follows_count li {
  float: left;
  width: 105px;
  text-align: center; }
  #follows_count li span {
    font-size: 11px;
    display: block;
    margin-bottom: 4px; }
  #follows_count li .count {
    font-weight: bold;
    font-size: 20px;
    color: #EA0A89; }

.places_listing .place {
  padding: 15px; }
.places_listing .place_photo {
  float: left;
  width: 115px;
  background: #fff;
  padding: 5px;
  box-shadow: 0 1px 4px 1px #aaa;
  border-radius: 4px; }
.places_listing .place_overview {
  float: left;
  width: 584px;
  margin-left: 20px; }
.places_listing .place_name {
  font-size: 21px;
  font-weight: bold;
  display: block;
  margin: 5px 0; }
.places_listing .place_location {
  margin: 10px 0 0;
  font-weight: bold; }
.places_listing .place_other_info {
  float: left;
  width: 134px;
  margin-left: 15px;
  font-weight: bold;
  text-align: center; }
  .places_listing .place_other_info span {
    display: block;
    font-size: 16px; }
  .places_listing .place_other_info .ratings {
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0; }
  .places_listing .place_other_info .comments, .places_listing .place_other_info .visits {
    padding: 1px;
    text-align: center;
    width: 60px;
    float: left; }
  .places_listing .place_other_info .comments {
    background: #fffdd2;
    border: 1px solid #d6a224; }
  .places_listing .place_other_info .visits {
    background: #cee8a8;
    border: 1px solid #5f8d1d;
    margin-left: 5px; }
  .places_listing .place_other_info .caption {
    font-size: 10px; }
.places_listing .white {
  border-top: 1px solid #B7B7B7;
  border-right: 1px solid #B7B7B7;
  border-left: 1px solid #B7B7B7; }

.pagination {
  text-align: center;
  margin-bottom: 20px; }
  .pagination * {
    margin: 0 3px; }
  .pagination em {
    padding: 1px 4px;
    background: #EA0A89;
    border-radius: 3px;
    color: #fff;
    font-style: normal; }

#search_place {
  margin-bottom: 9px; }

#search_criteria {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe75f), to(#ffce26));
  background: -moz-linear-gradient(top, #ffe75f, #ffce26);
  box-shadow: 0 1px 1px 0px #fff inset;
  padding: 8px;
  border: 1px solid #999;
  border-radius: 4px;
  margin-top: 8px; }
  #search_criteria label {
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px; }
  #search_criteria .textbox {
    width: 204px;
    border: 1px solid #999; }
  #search_criteria li {
    float: left;
    margin-right: 8px; }

#place_search_box {
  width: 814px !important;
  margin-right: 5px;
  font-size: 20px; }

#start_search {
  font-size: 17px; }

.tabs_wrapper {
  margin-bottom: 10px; }

.tabs li {
  float: left;
  margin-right: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #55a1d5;
  padding: 6px 15px;
  cursor: pointer; }
.tabs li.current {
  background: #ccc;
  color: #fff;
  text-shadow: 0 1px 2px #999;
  border-radius: 20px;
  box-shadow: 0 1px 3px 2px #aaa inset; }

#map, #street_view {
  height: 400px; }

.interaction {
  float: right;
  cursor: pointer;
  padding: 0;
  margin-left: 10px; }
  .interaction span {
    display: block;
    padding: 6px 8px 6px 29px;
    font-weight: normal;
    text-shadow: 0 0 0; }

#interaction_like {
  width: 134px; }
  #interaction_like span {
    background: url(/assets/thumbs_up.png) no-repeat 4px 1px; }

#interaction_visit {
  width: 134px; }
  #interaction_visit span {
    background: url(/assets/pin.png) no-repeat 7px 2px;
    padding: 6px 2px 6px 29px; }

#alert {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd000), to(#ffe600));
  background: -moz-linear-gradient(top, #ffd000, #ffe600);
  box-shadow: 0 -6px 7px 6px #111111;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #E0BC00;
  z-index: 1000;
  height: 59px;
  line-height: 59px; }

#error {
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(top, #ed1c24, #aa1317);
  box-shadow: 0 -6px 7px 6px #111111;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #b7000d;
  color: #fff;
  z-index: 1000;
  height: 59px;
  line-height: 59px; }

.users_listing .white {
  padding: 15px; }
.users_listing .make_a_date {
  float: right;
  margin-top: 14px;
  padding: 4px 12px;
  font-size: 12px; }
.users_listing p {
  margin: 3px 0; }

#profile_social_networks {
  padding: 11px 20px 8px; }

#follows_count_wrapper {
  padding: 11px 20px 8px; }

#map_controls {
  margin-bottom: 9px; }

#map_container {
  border-radius: 4px;
  border-top: 1px solid #aaa;
  background: #EDEDED; }
  #map_container .embossed_box {
    padding: 9px;
    margin: 0 !important; }

#dashboard .places_listing {
  margin-bottom: 10px; }
  #dashboard .places_listing .place_photo {
    width: 50px;
    height: 50px;
    padding: 4px; }
  #dashboard .places_listing .place_name {
    margin: 0 0 5px;
    font-size: 14px; }
  #dashboard .places_listing .place_overview {
    width: 388px; }
  #dashboard .places_listing .place_other_info {
    width: 105px;
    margin-left: 20px; }
    #dashboard .places_listing .place_other_info .ratings {
      font-size: 20px; }
    #dashboard .places_listing .place_other_info span {
      font-size: 14px; }
    #dashboard .places_listing .place_other_info .caption {
      font-size: 10px; }
    #dashboard .places_listing .place_other_info .comments, #dashboard .places_listing .place_other_info .visits {
      width: 45px; }
  #dashboard .places_listing .place_location {
    margin-top: 5px; }

#upload_avatar #right {
  min-height: 400px; }

#webcam_wrapper {
  width: 580px;
  background: #fff;
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -290px;
  z-index: 1000;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 3px 10px 1px #333; }
  #webcam_wrapper .panel {
    margin-top: 10px;
    text-align: right; }

#profile .embossed_box {
  margin: 20px 0; }

#place_details #left .embossed_box {
  margin: 20px 0;
  padding: 15px; }

#message_detail .messages_list .snap {
  width: 780px; }

#error_explanation {
  background: #F4ECC6;
  border: 1px solid #ECAA6A;
  border-radius: 4px;
  color: #CB1515;
  line-height: 20px;
  margin: 20px 0;
  padding: 12px; }
  #error_explanation h2 {
    margin-bottom: 10px; }
  #error_explanation li {
    padding: 5px 0 5px 24px;
    background: url(/assets/error.png) no-repeat left center; }

#signup_form #user_birth_month, #signup_form #user_birth_day, #signup_form #user_birth_year {
  float: left;
  margin-right: 5px;
  padding: 6px;
  border: 1px solid #C2C2C2;
  width: 140px;
  font-size: 14px; }

#app_error {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd000), to(#ffe600));
  background: -moz-linear-gradient(top, #ffd000, #ffe600);
  padding: 20px;
  text-align: center;
  margin: 20px;
  border: 1px solid #e59c00;
  border-radius: 4px; }

#dating_calendar_wrapper {
  margin: 0;
  padding: 10px; }
  #dating_calendar_wrapper #dating_calendar {
    background: #fff; }

#new_appointment select {
  padding: 6px;
  border: 1px solid #c2c2c2;
  width: 50px;
  margin-right: 10px; }

#appointment #stage #right {
  min-height: 500px; }

#event_details {
  width: 100%; }
  #event_details tr td {
    vertical-align: top;
    padding: 10px;
    border-bottom: 1px solid #cacaca; }
  #event_details tr.last td {
    border: 0 !important; }

#edit_appointment_form .textbox {
  width: 611px; }
#edit_appointment_form #appointment_hour_minute select {
  margin-left: 6px;
  margin-right: 20px; }

.albums_listing li {
  float: left;
  width: 180px;
  margin: 15px 12px;
  text-align: center; }
  .albums_listing li .album {
    display: block;
    width: 164px;
    height: 164px;
    background: #fff;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
    box-shadow: 0 1px 2px 1px #999; }
  .albums_listing li .action {
    margin: 0 3px; }
